/* Admin Styles */
#hq-wrap {

}
#hq-wrap h1 {
    margin-bottom: 10px;
}
#hq-wrap a {
    outline: none;
}
#hq-wrap label span {
    color: red;
}
#hq-wrap .wp-list-table td {
    display: table-cell;
}
#hq-wrap .wp-list-table .actions {
    text-align: right;
}
#hq-wrap .col-left {
    width: 35%;
    float: left;
}
#hq-wrap .form-field {
    margin-bottom: 10px;
}
#hq-wrap .small-text {
    width: 100px;
}
#hq-wrap .submit {
    clear: both;
}
#hq-wrap .search-box {
    float: right;
}
.hq-final {
    overflow: hidden;
}
.hq-pager {
    text-align: center;
    padding: 20px 0;
}
.hq-pager a {
    display: inline-block;
    line-height: 30px;
    width: 30px;
    background: #fff;
    border: #CCC 1px solid;
    text-decoration: none;
    margin: 0 5px;
}
/*.hq-pager a.active-page {
    background: #0073AA;
    color: #fff;
}*/
@media print {
    body, .actions a {
        visibility: hidden;
    }
    #adminmenumain {
        display: none;
    }
    #wpcontent, #wpfooter {
        margin-left: 0;
    }
    .print-this {
        visibility: visible;
        width: 100%;
        margin: -0.9in 0 0 0;
    }
}